:root {
  --color-primary: #03045e;
  --color-primary-lite: #0077b6;
  --color-secundary: #90e0ef;
  --color-secundary-lite: #caf0f8;
  --white: #ffffff;
  --border: #515151;
  /* --backgroud-gradiet-lite: #010030; */
  --backgroud-gradiet-lite: #010044;
  --backgroud-gradiet-dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;

  font-family: "Merriweather", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--white);
}

body {
  /* height: 100vh; */
  background: linear-gradient(
    to bottom,
    var(--backgroud-gradiet-lite),
    var(--backgroud-gradiet-dark)
  );
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

p,
li {
  font-size: 1.5rem;
  font-weight: 200;
  opacity: 0.8;
}

section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border);
  padding: 3rem 1rem;
  gap: 3rem;
}

.container {
  display: flex;
  /* justify-content: space-between; */
  margin: 3rem;
  position: relative;
  gap: 4rem;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  margin-bottom: 13rem;
}
.nome {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Right Aside */

.right-aside {
  display: flex;
  flex-direction: column;
  flex: 25;
  position: sticky;
  top: 0.5rem;
  height: fit-content;
  gap: 3rem;
}
.right-aside p {
  text-align: justify;
}

.contact {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border);
  padding: 1rem;
  gap: 1rem;
}
.contact-links {
  display: flex;
  gap: 1.5rem;
}
.link {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--white);
  &:hover {
    color: #90e0ef;
  }
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  flex: 75;
  position: relative;
  gap: 3rem;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about p {
  font-size: 2rem;
}

/* Skills */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.skill-category {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 40rem;
}

.skill-list {
  padding-left: 2rem;
}

/* Experience */

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.experience-card {
  display: flex;
  gap: 3rem;
}
.experience-head {
  display: flex;
  flex-direction: column;
  flex: 40;
  gap: 1rem;
}
.experience-entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.experience-entry span {
  opacity: 1;
  font-weight: 400;
}
.experience-details {
  flex: 60;
}
.experience-tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Academic */

.academic-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.academic-entry {
  display: flex;
  gap: 3rem;
}
.academic-institution,
.academic-degree {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

/* Certificatons */

.certifications-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.certification-card {
  display: flex;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--border);
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  color: inherit;

  transition: all 0.3s ease;
}
.certification-card:hover {
  scale: 1.05;
}

.certification-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Language */
.language-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 2rem;
}
.language-list span {
  opacity: 1;
  font-weight: normal;
}

.language-details {
  display: flex;
  flex-direction: column;
  margin-left: 6.5rem;
  gap: 0.5rem;
}

@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .container {
    flex-direction: column;
  }
  .right-aside {
    position: relative;
  }
}

@media (max-width: 600px) {
  .experience-card {
    flex-direction: column;
  }
  .experience-head {
    text-align: center;
  }
}
